<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Bar Chart</title>
	<script src="https://www.chartjs.org/dist/2.7.3/Chart.bundle.js"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<h1>View top customers</h1>
	<div id="container" style="width: 75%;">
		<canvas id="canvas"></canvas>
	</div></br>
	
	<div id="container1" style="width: 75%;">
		<canvas id="canvas1"></canvas>
	</div>
	
	<script>
	
		var color = Chart.helpers.color;
		var barChartData = {
			labels: [],
			datasets: [{
				label: 'tickets',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: []
			}]
		};
		
		var barChartData1 = {
			labels: [],
			datasets: [{
				label: 'commission',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: []
			}]
		};
		
		var d={{data1|safe}};
		var l={{label1|safe}};
		console.log(d);
		for (var i=0; i<l.length; i++){
			barChartData.labels.push(l[i]);
			barChartData.datasets[0].data.push(d[i]);
		}
		d={{data2|safe}};
		l={{label2|safe}};
		console.log(d);
		for (var i=0; i<l.length; i++){
			barChartData1.labels.push(l[i]);
			barChartData1.datasets[0].data.push(d[i]);
		}
		
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			var ctx2 = document.getElementById('canvas1').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Top 5 customers of ticket number'
					}
				}
			});
			
			window.myBar2 = new Chart(ctx2, {
				type: 'bar',
				data: barChartData1,
				options: {
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: 'Top 5 customers of ticket commission'
					}
				}
			});
		};
		
		window.myBar.update();
		window.myBar2.update();
	</script>
	
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
<a href='/'>Back</a>
</body>

</html>
