<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Bar Chart</title>
	<script src="https://www.chartjs.org/dist/2.7.3/Chart.bundle.js"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	{% if act=='Spending' %}
		<form action="/checkSpending" method="POST">
			<h1>Check Spending by date</h1></br>
			<input type="month" name = "start_date" /required > to <input type="month" name = "end_date" /required > </br>
			<input type="submit" value = Check />
		</form>
		{% if data %}
			{% if total_spending %}
				<p>Your total spending in this time period is: {{total_spending}}</p></br>
			{% endif %}
		{% endif %}
	{% endif %}
	
	{% if act=='Report' %}
		<form action="/viewReport" method="POST">
			<h1>View Report</h1></br>
			<input type="month" name = "start_date" /required > to <input type="month" name = "end_date" /required > </br>
			<input type="submit" value = Check />
		</form>
		<a href="{{url_for('viewReport',interval=1) }}">Past Month</a>
		<a href="{{url_for('viewReport',interval=2) }}">Past Year</a>
		{% if data %}
			{% if total_spending %}
				<p>{{total_spending}} tickets sold in this time period.</p></br>
			{% endif %}
		{% endif %}
	{% endif %}
	
	<div id="container" style="width: 75%;">
		<canvas id="canvas"></canvas>
	</div>
	{% if data %}
	<script>
		var color = Chart.helpers.color;
		var barChartData = {
			labels: [],
			datasets: [{
				label: '{{act|safe}}',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: []
			}]
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
					legend: {
						position: 'top',
					},
					title: {
						display: true,
						text: '{{act|safe}}'
					}
				}
			});
		};
		
		var d={{data|safe}};
		var l={{label|safe}};
		console.log(l);
		for (var i=0; i<l.length; i++){
			barChartData.labels.push(l[i]);
			barChartData.datasets[0].data.push(d[i]);
		}
		
		window.myBar.update();
	</script>
    {% endif %}
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
<a href='/'>Back</a>
</body>

</html>
